body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:'Roboto', sans-serif;
	color: rgba(134,154,164,1);
	background-color:#eceff1;
	overflow-x: hidden;
}
a {
	color:inherit;
	text-decoration:none;
}
img{
	padding:0;
	margin:0;
}
/*****************************Menu***********************************/
#header{
	position:fixed;
	width:100%;
	height:128px;
	z-index: 9999;
}
#logo-box{
	position:absolute;
	width:468px;
	height:128px;
	left: 16%;
	background-color:#fff;
}
#logo{
	position:absolute;
	width: 222px;
	height: 74px;
	background-image: url(./images/logo.svg);
	background-size: cover;
	left: calc(50% - 170px);
	top: calc(50% - 37px);
	display: inline-block;
}
.menu-btn{
	position:absolute;
	width:128px;
	height:128px;
	right:0;
	cursor: pointer;
}
.menu-btn:hover{
	background-color:#37474f;
}
.menu-btn:before{
	content:'';
	position:absolute;
	width:64px;
	height:64px;
	background-image:url(./images/sprites.svg);
	background-position: 0px -128px;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
}
.nav{
	position: fixed;
	left: calc(16% + 468px);
	width: 0;
	height:128px;
	overflow:hidden;
	background-color:#37474f;
	transition:width 0.2s;
	z-index: 9999;
}
.nav-open{
	width: calc(84% - 468px);
}
#ul1{}
.nav ul{
	position:relative;
	width:100%;
	text-align: center;
	padding:0;
	margin:0;
}
.nav li{
	display:inline-block;
	height: 128px;
	line-height: 128px;
	margin-right: 3%;
	cursor:pointer;
	text-transform:uppercase;
	transition: color 0.15s, line-height 0.2s;
	vertical-align:middle;
	}
.nav li:hover {
	color:#fff;
	line-height: 118px;
	transition: color 0.15s, line-height 0.2s;
	}
.nav li.active{
	color:#fff;
}

.nav-btn a {
    display: inline-block;
}
/*****************************Content Containers***********************************/
.container{
	position:relative;
	width:100%;
	height: 100%;
	z-index: 8000;
}
.container-gray{
	background-color:#263238;
	color:#899195;
}
.tour{
	position:relative;
	width: 100vw;
	height: 100vh;
}
.page-box{
	position:relative;
	width:100%;
}
.page-box-h-1{
	height:256px;
}
.page-box-h-2{
	height:192px;
}
.vert-line{
	position:relative;
	width: 50%;
	border-right: 1px solid #c0c8cc;
}
.vert-line-white{
	border-right: 1px solid rgba(255,255,255,0.2);
}
.vert-line-h-1{
	height:128px;
}
.vert-line-h-2{
	height:64px;
}
.vert-line-h-3{
	height: 240px;
}
.down-arrow-grey{
	position:relative;
	width:64px;
	height:64px;
	left:calc(50% - 32px);
	background-image:url(./images/sprites.svg);
	background-position: -448px 0px;
}
.down-arrow-white{
	background-position: -448px -64px;
	opacity:0.2;
}
.page-title{
	position:relative;
	text-align:center;
	font-weight:100;
	font-size: 3.4em;
	color:#455a64;
	line-height: 64px;
	margin: 0;
}
.page-title-white{
	color:#899195;
}
.testimonials-carousel {
	margin: 0 0 0 -40px;
}
.selector-box{
	position:relative;
	width:100%;
	height:64px;
	text-align:center;
}
.select-item{
	position:relative;
	display:inline-block;
	width:32px;
	height:32px;
	margin-top: 16px;
	cursor:pointer;
	opacity:0.2;
	transition:opacity 0.2s;
}
.select-item:hover{
	opacity:0.5;
}
.select-item:before{
	content:'';
	position:absolute;
	width:16px;
	height:16px;
	left: calc(50% - 8px);
	top: calc(50% - 8px);
	background-image:url(./images/sprites.svg);
	background-position: -16px -32px;
	background-size:128px;
	background-color: #37474f;
	border-radius: 10px;
}

.select-item.active{
	opacity:0.8;
}
.gallery-left {
	position: relative;
}
.content-container-1{
	position:relative;
	width:100%;
	height: calc(100% - 192px - 256px);
	min-height: 624px;
	overflow-y: hidden;
}
.content-container-2{
	position:relative;
	width:100%;
	height:auto;
}
.content-container-3{
	position:relative;

	height: auto;
}

.copy {
  width: 50%;
  margin: 20px auto 100px;
  text-align: center;
  font-size: 1.2em;
}

.copy ul {
  list-style: none;
  padding: 0;
}

.copy li {
  margin-bottom: 10px;
}

.content-box{
	overflow: hidden;
	text-align: center;
	font-size: 1.2em;
	width: 80%;
	margin: 0 auto;
}

.content-box ul {
  width: 80%;
  margin: 0 auto;
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

.content-box li {
  margin: 10px 0;
}

.left-content-box{
	width: 50%;
	float: left;
	display: inline-block;
	height: calc(100vw / 3);
	overflow: hidden;
	text-align: center;
	position: relative;
}

.content-box-img{height: calc(100vw / 3);width: auto;position: relative;     top: 50%;     transform: translateY(-50%);}

.left-content-box iframe {
  width: 100%;
  height: 100%;
}

.right-content-box{
	/* left: 50%; */
}
.left-box-title{
	position:relative;
	width:calc(70% - 96px);
	left:96px;
	font-weight: 400;
	font-size: 1.6em;
	color:#455a64;
	border-bottom: 1px solid #c0c8cc;
	line-height: 64px;
	margin-top: 15%;
}


.container-gray .left-box-title{
	color:#899195;
}


.left-box-text{
	position:relative;
	width:calc(70% - 96px);
	left:96px;
	height:auto;
	margin: 32px 0 32px 0;
	font-size: 1.2em;
}
.pkg-box-title{
	position:relative;
	width:320px;
	left:64px;
	font-weight: 400;
	font-size: 1.6em;
	color:#455a64;
	border-bottom: 1px solid #c0c8cc;
	line-height: 64px;
	margin-top: 24px;
}
.pkg-box-text{
	position:relative;
	width:320px;
	left:64px;
	height:89px;
	height:auto;
	overflow-y:hidden;
	margin: 32px 0 32px 0;
}
.pkg-box-align-l{
	left: 0;
}
.uni-button{
	position:relative;
	border:1px solid #455a64;
	border: 1px solid #c0c8cc;
	color:#455a64;
	color: #c0c8cc;
	font-weight:500;
	font-size: 1em;
	left: 96px;
	width: 224px;
	text-align: center;
	line-height: 64px;
	cursor: pointer;
	display: inline-block;
	/* background: #ECEFF1; */
}
.uni-button:hover{
	background-color:#455a64;
	color:#eceff1;
}

.uni-button-small{
	line-height: 48px;
	top: 0;
	left: 64px;
	width: 144px;
}
.uni-button-align-r{
	left: 50%;
}
.arrow-container{
	position:absolute;
	width:128px;
	height:100%;
	z-index:9000;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.2s;
}
#gallery .arrow-container{
	background-color: rgba(0,0,0,0.1);
}
.arrow-container:hover, #gallery .arrow-container:hover{
	opacity:1;
	background-color: rgba(0,0,0,0.3);
}
.arrow-container:before{
	content:'';
	position:absolute;
	width:64px;
	height:64px;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
	background-image:url(./images/sprites.svg);
}
#arrow-white-l:before{
	background-position: -384px -64px;
}
#arrow-white-r:before{
	background-position:-320px -64px;
}
#arrow-grey-l:before{
	background-position:-384px 0px;
}
#arrow-grey-r:before{
	background-position:-320px 0px;
}
.arrow-container-left{
	left:0;
}
.arrow-container-right{
	right:0;
}


.gallery-item{
	position:relative;
	width: calc(100% / 3);
	height:auto;
	/* height: 33%; */
	/* display: inline-block; */
	cursor:pointer;

}
.gallery-item:hover{
    opacity: 0.8;
}
.package-row{
	position:relative;
	width:100%;
	height:320px;
	overflow-y: hidden;
	-webkit-transition: height 600ms;
	transition: height 600ms;
}

	.package-row:nth-of-type(2){}

	.package-row:nth-of-type(3){height: 360px;}

	.package-row:nth-of-type(4){height: 710px;}

	.package-row:nth-of-type(5){height: 690px;}


.package-icon{
	position:absolute;
	width:320px;
	height: 100%;
	background-color:#455a64;
}
.package-icon:before{
	content:'';
	position: absolute;
	width: 160px;
	height: 160px;
	left: calc(50% - 80px);
	top: calc(50% - 80px);
	background-image:url(./images/sprites.svg);
	background-size: 1280px;
}
#package-icon-1:before{
	background-position: -640px -160px;
}
#package-icon-2:before{
	background-position: -480px -160px;
}
#package-icon-3:before{
	background-position: -320px -160px;
}
#package-icon-4:before{
	background-position: -160px -160px;
}
.package-content{
	position:absolute;
	width: 384px;
	height:320px;
}
.package-align-l{
	left: calc(50% - 320px);
}
.package-align-r{
	right: calc(50% - 320px);
}
.package-align-r-2{
	right: calc(50% - 384px);
}
.package-align-l-2{
	left:calc(50% - 384px);
}
.star-laurel-icon{
	position:relative;
	width:100%;
	height: 200px;
}
.star-laurel-icon:before{
	content:'';
	position: absolute;
	width: 160px;
	height: 160px;
	left: calc(50% - 80px);
	top: calc(50% - 80px);
	background-image:url(./images/sprites.svg);
	background-size: 1280px;
	background-position: 0px -160px;
	background-color: #37474f;
	border-radius: 100px;
}
.quoted-text{
	position:relative;
	width: 80%;
	left: 10%;
	height:auto;
	margin: 32px 0 32px 0;
	font-size: 2.2em;
	color: #455a64;
	font-weight: 100;
	text-align: center;
	font-style: italic;
}
.signature-text{
	position:relative;
	width:80%;
	left:10%;
	height:auto;
	margin: 64px 0 32px 0;
	font-size: 1.2em;
	font-weight:500;
	text-align: right;
}
.social-box{
	position:relative;
	width:90%;
	left:5%;
	text-align:center;
	height:64px;
	margin:32px 0;
}
.social-icon{
	position:relative;
	display:inline-block;
	width:64px;
	height:64px;
	margin: 0px 16px;
	background-image:url(./images/sprites.svg);
	background-size: 512px;
	top:0;
	transition:top 0.2s;
}
.social-icon:hover{
	top:-10px;
	opacity:0.8;
}
#social-icon-facebook{
	background-position: 0px 0px;
}
#social-icon-twitter{
	background-position: -64px 0px;
}
#social-icon-google{
	background-position: -128px 0px;
}
#social-icon-linkedin{
	background-position: -256px 0px;
}
#social-icon-mail{
	background-position: -192px 0px;
}
.full-text-box{
	position:relative;
	width: 90%;
	left:5%;
	height:auto;
	text-align:center;
	font-size:1em;
	margin:32px 0;
	font-weight: 300;
}

h1.full-text-box{
	font-size:2em;
}

h2.full-text-box{
	font-size:1.5em;
}

.text-lineheight-1{
	line-height:32px;
}
.footer-box{
	position:relative;
	width:100%;
	height:64px;
	border-top: 1px solid rgba(255,255,255,0.2);
}
.footer-text{
	position:absolute;
	line-height:64px;
	font-size:1em;
	font-weight:300;
	margin: 0;
}
.footer-link{
	color:#00bff3;
}
.footer-link:hover{
	opacity:0.8;
}
.footer-text-left{
	left:10%;
}
.footer-text-right{
	right:10%;
}
/** Get rid of the jQuery mobile loading bar. No use for it. */
.ui-loader {
	display: none !important;
}
@media all {
	.featherlight:last-of-type {
		background: none;
	}
	.featherlight .featherlight-content {
		padding: 0;
		margin: 0;
		border: 0;
		overflow: hidden;
		box-shadow: 5px 5px 5px #151515;
	}
}
@media screen and (max-width: 1280px){
	#logo-box {
		left: 0;
	}
	.nav {
		left:468px;
	}
	.nav-open {
		width: calc(100% - 468px);
	}
}
@media screen and (max-width: 1150px){
/*@media screen and (max-width: 1000px){*/

	#header {
		height: 70px;
	}
	#logo-box {
		width: 100%;
		left: 0%;
		height: 70px;
	}
	#logo {
		position: absolute;
		width: 192px;
		height: 64px;
		background-image: url(./images/logo.svg);
		left: 24px;
		top: calc(50% - 32px);
	}
	.menu-btn {
		width: 70px;
		height: 70px;
	}
	.nav {
		left: 0;
		top: 70px;
		width: 100%;
		height: 100%;
	}
	.nav-open{
		width: 0;
	}
	.nav li {
		display: block;
		height: auto;
		line-height: 64px;
		margin-right: 0;
	}
	.container {
		top:70px;
	}
	/*delete this?*/
	.content-container-3 {
		width: 90%;
		left: 5%;
	}

	.page-box-h-1 {
		height: 192px;
	}

	.vert-line-h-1 {
		height: 64px;
	}
	.page-title {
		font-size: 2.5em;
	}

	.left-content-box {
		position: relative;
		width: 100%;
		height: auto;
		left: 0;
		display: block;
		height: calc(100vh / 2 - 44px);
	}
	.content-box-img{height: 100%;width: auto;position: relative;     top: 50%;     transform: translateY(-50%);}

	.left-box-title {
		position: relative;
		width: 80%;
		left: 10%;
		margin-top: 5%;
	}
	.left-box-text {
		width: 80%;
		left: 10%;
	}
	.uni-button {
		left: calc(50% - 112px);
	}
	.package-row {
		position: relative;
		width: 100%;
		height: 640px;
		overflow-y: hidden;
		margin-bottom: 32px;
	}

	.package-row:nth-of-type(2){

	}

	.package-row:nth-of-type(3){height: 650px;}

	.package-row:nth-of-type(4){height: 680px;}

	.package-row:nth-of-type(5){height: 810px;}

	.package-icon {
		position: absolute;
		width: 320px;
		height: 320px;
		background-color: #455a64;
	}
	.package-align-l {
		left: calc(50% - 160px);
	}
	.package-align-r {
		left: calc(50% - 160px);
	}
	.package-content {
		position: absolute;
		width: 320px;
		height: 320px;
		top: 320px;
	}
	.package-align-r-2 {
		right: 0;
		left: calc(50% - 160px);
	}
	.package-align-l-2 {
		left: calc(50% - 160px);
	}
	.pkg-box-title {
		left: 0;
		text-align: center;
	}
	.pkg-box-text {
		left: 0;
	}
	.uni-button-small {
		left: calc(50% - 72px);
	}
	.quoted-text {
		width: 100%;
		left: 0;
		font-size: 1.5em;
	}
	.signature-text {
		font-size: 1em;
		width: 100%;
		left: 0;
		text-align: center;
	}
	.vert-line-h-3 {
		height: 64px;
	}
	.social-box {

	}
	.social-icon {
		margin: 0px -2px;
	}
	.footer-text {
		font-size: 0.8em;
	}
	.footer-text-left {
		left: 10px;
	}
	.footer-text-right {
		right: 10px;
	}
	.arrow-container:before {
		top: calc(33% - 32px);
		left: calc(50% - 32px);
	}
	.package-icon {
		height: 320px !important;
	}
	.arrow-container {
		display: none !important;
	}
}
